/**************************
 * General usage site wide
 **************************/
 
 html {
  min-height: 100%;
}

p {
  margin: 0 0 0 0;
}

h1 {
    margin: 40px 0 0 0; /* top right bottom left*/
}
h3{
    margin: 0 0 25px 0;
}


.main_body { /* Keeping background on the dark side no image just color gradient*/
      background:  linear-gradient( var(--bgLight),var(--bgDark) );
      color:  var(--mainTextColor);
      display: block;
      margin: 7px;
}
.banner{
  width: 100%;
  text-align: center;
}
.pageBannerLine1 {
  font-size: 30px;
  /*
  font-family: Permanent Marker;
  */
  font-weight: bold;
  margin-bottom: 0;
}
.pageBannerLine2{
  font-size: 20px;
  margin: 1px 0 10px 0;  /* top right bottom left*/
  /*
  font-family: courier;
  */
  font-weight: bold;
  text-decoration: underline;
}
/*************************/
 /* Style the navigation bar */

.navbar_error {
  width: 100%;
  background-color: #634a4a;
  font-size: 25px;
  padding: 8px;
  overflow: auto;
  color: red;
}

.navbar {
  width: 100%;
  overflow: auto;
  text-align: center; /* */
}

/* Navbar links */
.navbar a {
  text-align: center;
  padding: 12px;
  color: inherit;
  text-decoration: none;
  font-size: 17px;
  display: inline-block; /* */
  border: 2px solid var(--bgLight);
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: var(--NavBarHover);
}

/* Current/active navbar link */
.active_navtab {
    background-color: var(--bgDark);
}
.broken_active_navtab {
    background-color: tomato;
}
/*************************/
  /*
  */
/*
 * general font/text
 */

.site_font {
  font-family: Oxygen, Arial, sans-serif;

}

.monospace-font {
  font-family: Oxygen Mono, monospace;
}

.permanentmarker-font {
  font-family: Permanent Marker;
}

.oxygen-font {
  font-family: Oxygen;
}

.bold-font {
  font-weight: bold;
}

.italic-font {
  font-style: italic;
}

.oblique-font {
  font-style: oblique;
}

.right-text {
  text-align: right;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.underline-text {
  text-decoration: underline;
}
/*************************/

/* Add responsiveness - 
     will automatically display the navbar vertically 
     instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 750px) { 
  .navbar a {
    float: none;
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .two_column{
    width: 100%;
    float: none;
    display: block;
  }
  .net_table_div {
    width: 100%;
    float:  none;
    color: var(--MedBlue);
  }
} 