/*
 * Network page specific styling
 */

.net_page_font {
    font-family: Oxygen, Arial, sans-serif;
}

.net_table_div {
    color: var(--MedBlue);
}

.graph_msg {
  text-align: center;
}

/*************************/

#net-chart-iframe{
  width: 100%;
  height: 500px;
  border: none;
}

#csv_upload{
  border: 2px solid var(--mainTextColor);
  border-radius: 4px;
  width: 50%;
  color: var(--mainTextColor);
}

#csv_form_div{
  padding-top: 0px;
  padding-bottom: 15px;
  text-align: center;
}


/*************************/

/*
 * Styling classes used in modifying google visualization tables
 */

.net-table{
  color: var(--NetTableColor);
}

.net-tbl-bg-dark{ 
  background-color:  var(--DarkGreyBlue);
}

.net-tbl-bg-med{ 
  /* background-color:  var(--MedGreyBlue2); */
  background-color:  var(--BlueishGrey);
}

.net-tbl-bg-light { 
  background-color: var(--LightGreyBlue);
}

.net-tbl-bg-pale { 
  background-color: var(--PaleGreyBlue);
}

.net-tbl-large-font {
  font-size: 15px;
}

.chart-msg-font {
  font-size: 18px;
}




/*
 *
 */
