/*
 * site-main.css
 *  -- general styling used throughout the site
 *  -- provides a single inclusion point for all css entries via @import
 */

@import "site-root.css";
@import "general.css";
@import "nav.css";
@import "err.css";
@import "network.css";
@import "workshop.css";
@import "resume.css";
@import "devel.css";
@import "about.css";



.iframe_main_body { /* Keeping background on the dark side no image or color gradient*/
      color:  var(--mainTextColor);
}

/*
.c1{
 background-color: rgb(96,74,80,.21); 
}
.c2{
  --colHlite: rgb(89,66,73,.21);
  background-color: var(--colHlite);
}
*/

.jcode {
  background-image: url("/site1/images/eclipse1.jpg");
}


.gen_msg{
  padding-right: 20px;
}

.full_bg{
  /*box-sizing: border-box;*/
  width: 100%;
  padding: 20px;
  float: left;
  background-size: cover;
}


.transbox_80 {
  margin: 0 5% 0 2%;
  border: 1 solid #541e1e;
  background-color: #f4eccb;
  opacity: 0.7;
}

.transbox_txt {
  margin: 10%;
  font-weight: normal;
  font-size: 25px;
  color: #301e1e;
  padding: 20px 0 20px 0;
}

#ws-iframe{
  width: 100%;
  height: 500px;
  border: none;
}

#Time{
  list-style-type: none;
}
#time.li{
  
}
.stanza{

}
.hlite_tbl{
  color: #371e1e;
  font-size: 10px;
  font-family: tahoma;
}
#hlite_cap{ /* Shop inventory title */
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.hlite_rows{
  color: #371e1e;
}
.hlite_rows:nth-child(even) { 
  background-color:  rgb(232,232,232,0.4);
}
.hlite_rows:nth-child(odd) { 
  background-color: rgb(165,165,165,0.4);
}

.ws-menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: tahoma;
}
.imenu{
  float: left;
  border: 2px solid #371e1e;
  border-radius: 8px;
  margin: 10px;
}

li.imenu a{
/*  color: red;*/
  color: #371e1e;
  display: block;
  padding: 10px;
  text-decoration: none;
}



#tborder {
  display: block;
  border: 2px solid #e5bcbc;
  color:  #e5bcbc;
  padding: 20px;
  margin:  10px;
}
#hlite {
  font-size: 20px;
  font-family: arial;
  font-weight: bold;
  padding-left: 20px;
  color:  yellow;
}

.note {
  font-size: 18px;
  float:  left;
  display:  block;
  margin:  10px;
  padding: 20px 40px 20px 40px;
  text-align: justify;
}



button {
  padding: 20px 30px 20px 30px;
  background: linear-gradient(-30deg, #a0656b,#bc898e);
  color: inherit;
  border: none;
  margin: 20px;
  border-radius: 15px;
}
#btn_hlite{
  padding: 10px;
  border: 2px solid #a0656b;
  display: none;
}


/*
 * Development page
 */
.lang_list{
  /*
   font-family: FiraCode; 
  */
  font-family: arial;
  font-size: 18px;
 }
.progLook{
  /*
   font-family: FiraCode; 
  */
  font-family: arial;
  font-size: 18px;
 }

