
html {
  min-height: 100%;
}


h1 {
    margin: 40px 0 0 0; /* top right bottom left*/
}
h3{
    margin: 0 0 25px 0;
}
caption{
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

.main_body { /* Keeping background on the dark side no image just color gradient*/
   /*     background:  linear-gradient(#541e1e,#301e1e) fixed;     */    
      background:  linear-gradient(#541e1e,#301e1e);  
      color: #f4eccb; /* creamy tan */
}

.c1{
 /* background-color: #604a50; */
 background-color: rgb(96,74,80,.21); /* 4 arg is color opacity, child elements are uneffected */
}
.c2{
  background-color: #594249;
}
.ws1{
   /*background-image: url("/site1/images/workshop/qtwhiteoak.jpg");*/
   background-image: url("/site1/images/workshop/curlycherry.jpg");
   color: #371e1e;
}
.ws2{
   background-image: url("/site1/images/workshop/qtwhiteoak-90.jpg");
   color: #371e1e;
}


.ph{
  box-sizing: border-box;
  width: 50%;
  /*min-width: 450px; */
  height: auto;
  padding: 20px;
  float: left;
}

.full_sep{
  /*box-sizing: border-box;*/
  width: 100%;
  padding: 20px;
  float: left;
  background-size: cover;
}

#ws-iframe{
  width: 100%;
  height: 500px;
  border: none;
}
.hlite_tbl{
  color: #371e1e;
  font-family: t
}
.hlite_rows{
  color: #371e1e;
}
.hlite_rows:nth-child(even) { 
  background-color:  rgb(232,232,232,0.4);
}
.hlite_rows:nth-child(odd) { 
  background-color: rgb(165,165,165,0.4);
}

.ws-menu{
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: tahoma;
}
.imenu{
  float: left;
  border: 2px solid #371e1e;
  border-radius: 8px;
  margin: 10px;
}

li.imenu a{
/*  color: red;*/
  color: #371e1e;
  display: block;
  padding: 10px;
  text-decoration: none;
}

 /* Style the navigation bar */

.navbar_error {
  width: 100%;
  background-color: #634a4a;
  font-size: 25px;
  padding: 8px;
  overflow: auto;
  color: red;
}

.navbar {
  width: 100%;
  background-color: #634a4a;
  overflow: auto;
  text-align: center; /* */
}

/* Navbar links */
.navbar a {
/*  float: left;*/
  text-align: center;
  padding: 12px;
  color: inherit;
  text-decoration: none;
  font-size: 17px;
  display: inline-block; /* */
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #1c0d0d;
}

/* Current/active navbar link */
.active {
  background-color: #ce9494;
}

#tborder {
  display: block;
  border: 2px solid #e5bcbc;
  color:  #e5bcbc;
  padding: 20px;
  margin:  10px;
}
#hlite {
  font-size: 20px;
  font-family: ariel;
  font-weight: bold;
  padding-left: 20px;
  color:  yellow;
}
#chart_div{
  box-sizing: border-box;
  width: 50%;
  height: auto;
  padding: 20px;
  float: left;      
}
.banner{
  width: 100%;
  text-align: center;
}
.footer{
  width: 100%;
  text-align: center;
  padding: 30px;
  float: left;
}
.footer span {
  font-size: 20px;
}

.note {
  font-size: 18px;
  font-family: tahoma;
}

#banl1 {
  font-size: 30px;
  font-family: permanentmarker;
  font-weight: bold;
  margin-bottom: 0;
}
#banl2{
  font-size: 20px;
  margin: 1px 0 10px 0; /* top right bottom left*/
  font-family: courier;
  font-weight: bold;
}

button {
  padding: 20px 30px 20px 30px;
  background: linear-gradient(-30deg, #a0656b,#bc898e);
  color: inherit;
  border: none;
  margin: 20px;
  border-radius: 15px;
}
#btn_hlite{
  padding: 10px;
  border: 2px solid #a0656b;
  display: none;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
  @media screen and (max-width: 1000px) {
  .ph{
    float: none;
    display: block;
  }
} 
