

@font-face {
      font-family: 'permanentmarker';
      src: url('/wwwfonts/PermanentMarker-Regular.ttf');
}

html {
  min-height: 100%;
}

body { /* Keeping background on the dark side no image just color gradient*/
   /*     background:  linear-gradient(#541e1e,#301e1e) fixed;     */    
      background:  linear-gradient(#541e1e,#301e1e);  
      color: #f4eccb;
}
h1 {
     margin-left: 20px;
}

/* Place holders */

.c1{
 /* background-color: #604a50; */
 background-color: rgb(96,74,80,.21); /* 4 arg is color opacity, child elements are uneffected */
}

.c2{
  background-color: #594249;
}


.ph{
  box-sizing: border-box;
  width: 50%;
  /*min-width: 450px; */
  height: auto;
  padding: 20px;
  float: left;
}

.full_sep{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  float: left;
}


 /* Style the navigation bar */

.navbar_error {
  width: 100%;
  background-color: #634a4a;
  font-size: 25px;
  padding: 8px;
  overflow: auto;
  color: red;
}

.navbar {
  width: 100%;
  background-color: #634a4a;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #1c0d0d;
}

/* Current/active navbar link */
.active {
  background-color: #ce9494;
}

#tborder {
  display: block;
  border: 2px solid #e5bcbc;
  color:  #e5bcbc;
  padding: 20px;
  margin:  10px;
}
#hlite {
  font-size: 20px;
  font-family: ariel;
  font-weight: bold;
  padding-left: 20px;
  color:  yellow;
}
#chart_div{
  box-sizing: border-box;
  width: 50%;
  height: auto;
  padding: 20px;
  float: left;      
}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
  @media screen and (max-width: 1000px) {
  .ph{
    float: none;
    display: block;
  }
} 
