:root {
  /*  Global CSS variables */
  /* --------------------- */
  /* Base colors for background gradients */
  --BlueGradLight: #45818E;
  --BlueGradDark: #073763;
  --RedGradLight: #541e1e;
  --RedGradDark: #301e1e;

  /* General use special colors */

  --VeryPaleGreyBlue: #b7d0e5;
  --VeryPaleGreyBlue2: #dfcccc;
  --PaleGreyBlue: #a3aeb7;
  --LightGreyBlue: #c3ddf7;
  --MedGreyBlue: #272744;
  --MedGreyBlue2: #577ea5;
  --DarkGreyBlue:  #17172d;
  --CreamyTan: #f4eccb;
  --Creamy: #f9e1a4;
  --BlueGrey: #7e808c;
  --BlueishGrey: #aaaaaa;
  --MedBlue:  #2c298e;
  --NavBarHover:  #1f5370;
    /*
     */
/* ---------------------    */
  --Blaheww:  #dbdde0;
  /* ---------------------    */
  
  /*
    Indirect / encapsulated colors
   */
  /* ---------------------    */
  --NetTableColor: var(--MedBlue);
  --NetTableDarkRowColor: var(--MedGreyBlue2);
  --NetTableLightRowColor: var(--LightGreyBlue);

  /* --------------------- */
  --mainTextColor: var(--Blaheww); /*  */
  /* --------------------- */

  /*
  --bgLight: var(--RedGradLight);
  --bgDark: var(--RedGradDark);
   */

  /*
    Main background gradient colors
   */
  --bgLight: var(--BlueGradLight);
  --bgDark: var(--BlueGradDark);
}
